body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 50px;
}

.name{
    color: orange;
}

.semi-head{
    font-size: 25px;
}

.about-me{
    font-size: 20px;
}

.flex-con{
    display: flex;
    margin-bottom: 140px;
}

.intro{
    width: 50%;
    padding: 3%;
}

.end{
    width: 50%;
    padding: 3%;
    box-shadow: 10px 10px 40px gray;
    margin: 20px 40px;
    border-radius: 5px;
}

.pic-main{
    width: 50%;
    padding: 3%;
}

.pic-main img{
    width: 100%;
}

.detail{
    width: 50%;
    padding: 3%;
}

.pic-another{
    width: 50%;
    padding: 3%;
}

.pic-another img{
    width: 100%;
}

.btn{
    text-decoration: none;
    padding: 15px 40px;
    font-size: 25px;
    color: white;
    background-color: tomato;
    border-radius: 10px;
}

.btn:hover{
    text-decoration: none;
    padding: 15px 40px;
    font-size: 30px;
    color: white;
    background-color: orange;
    border-radius: 10px;
}

.upper{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}

.middle{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.exp{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
}

.exp-box{
    padding: 0 50px 0 50px;
}

#noob-developer{
    border-left: 8px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;    
}

#bacca-developer{
    border-left: 8px solid;
    border-image: linear-gradient(red, orange);
    border-image-slice: 1;    
}

footer p{
    text-align: center;
}